.modal_none {
  visibility: hidden;
  opacity: 0;
}

.modal_new_window {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  display: grid;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
}

.modal_new_box {
  background-color: #5d7c90;
  color: #ecf8ff;
  padding: 10px 20px;
  width: 800px;
  z-index: 2;
  border-radius: 8px;
}

.modal_new_box_exit_btn {
  margin-left: 10px;
  cursor: pointer;
  position: absolute;
  background-color: #5d7c90;
  border: none;
  color: #111a20;
  font-size: 24px;
}

.modal_box_form {
  margin-left: 50px;
}

.modal_box_form_flex {
  display: flex;
  justify-content: center;
}

.modal_box_form_btn {
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  width: 200px;
}

.modal_box_form_input {
  width: 600px;
  font-size: 18px;
  outline: 0;
  padding: 10px 10px;
  margin: 0px 40px;
}
