.app {
  width: 1400px;
  margin: 0px auto;
}

.app_title {
  text-align: center;
  font-size: 48px;
  color: #b0fbbc;
}

.data {
  display: flex;
  justify-content: space-around;
}

.data_title {
  font-size: 18;
  color: #ecf8ff;
}

.data_list {
  display: flex;
  flex-wrap: wrap;
}
